.friends .friends__plus{
    padding: 20px 0px;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    margin: 20px 0px;
}

.friends__plus .friends__title,
.friends__list .friends__title{
    opacity: 0.6;
    font-size: 13px;
    margin-bottom: 12px;
}

.friends__plus .friends__anglebox,
.friends__friend .friend__anglebox{
    display: flex;
    justify-content: space-between;
}

.friend__anglebox .friend__icon{
    color: grey;
    font-size: 14px;
}

.friends__icon i {
    color: grey;
    font-size: 16px;
}

.friends__plus i {
    cursor: pointer;
}

.friends li:nth-child(3), 
.chats li:nth-child(1){
    margin-top: 20px;
}
